{% extends "TwigBundle::layout.html.twig" %}
{% block body %}
    <h1>Фильтр</h1>
    <form>
        <ul>
            {% for option in options %}

                <li> {{ option.name }}
                    <ul>
                        {% for value in option.productsOptionValues  %}
                            <li>
                                <input type="checkbox" value="{{ value.value }}" name="filter[{{ option.name }}][{{ value.id }}]" {% if filter[option.name][value.id] is defined %} checked="checked" {% endif %} />
                                {{ value.value }}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
        <input type="submit" />
    </form>

    <h1>Товары</h1>

    <table>
        {% for product in products %}
            <tr>
                <td>{{ product.name  }}</td>
                <td>{{ product.price  }}</td>
                <td>
                    {% for option_value in product.productsOptionValues %}

                        {{ option_value.productOption }} : {{ option_value.value }} <br />

                    {% endfor %}

                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
